#top {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 150px;
        box-sizing: border-box;
        .title-wrap {
            .title {
                text-align: left;
                font-size: 72px;
            }
            .highlight {
                color: $HIGHLIGHT_COLOR;
            }
        }
    }
}

@media (max-width: 949px) {
    #top {
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        #container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 100px;
            box-sizing: border-box;
            .title-wrap {
                .title {
                    text-align: left;
                    font-size: 48px;
                }
                .highlight {
                    color: $HIGHLIGHT_COLOR;
                }
            }
        }
    }
}

@media (max-width: 640px) {
    #top {
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        #container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 80px;
            box-sizing: border-box;
            .title-wrap {
                .title {
                    text-align: left;
                    font-size: 24px;
                }
                .highlight {
                    color: $HIGHLIGHT_COLOR;
                }
            }
        }
    }
}
